
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{position}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
                <p>{{destino.imagenurl}}
                </p>
                <p>Servicios</p>
                    <ul>
                        <li *ngFor="let s of destino.servicios">
                            <span [ngSwitch]="s">
                                <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                                <i *ngSwitchDefault>{{s}}</i>
                            </span>
                        </li>  
                    </ul>
                
                <textarea name="" id="" cols="20" rows="10">{{destino.descripcion}}</textarea>
            <a href="#"	class="btn-card" (click)="ir()">Leer más</a>
            <span *ngIf="destino.isSelected()">
                <span ngNonBindable>
                    Preferido}} ponemos las llaves
                </span> 
                <a [routerLink]="['/destino']">Ver detalle</a>
            </span>			
        </div>
    </div>
