    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span><h4>{{destino.nombre}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
                <p>{{destino.imagenurl}}
                </p>
                <textarea name="" id="" cols="20" rows="10">{{destino.descripcion}}</textarea>
            <a href="#"	class="btn-card" (click)="ir()">Leer más</a>
            <span [style.display]="destino.isSelected() ? '' : 'none'">Preferido</span>			
        </div>
    </div>
